<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<h2>User info</h2>
<%= form_for(@user) do |f| %>
  <label>Name </label> <%= f.text_field :name %><br>
  <label class="image-label">Image</label><%= f.attachment_field :profile_image %>
  <div class="intro"><label>Introduction</label> <%= f.text_area :introduction %><br></div>
  <%= f.submit "Update User" %>
<% end %>
