<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<h2>User info</h2>
<%= form_for(@user) do |f| %>
  <p>Name</p><%= f.text_field :name %>
  <p>Image</p><%= f.attachment_field :profile_image %>
  <p>Introduction</p><%= f.text_area :introduction %>
  <%= f.submit "Update User" %>
<% end %>
