<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<p id="notice"></p>
<div class="col-xs-3">
  <% if book.errors.any? %>
    <%= book.errors.count %>errors prohibited this obj from being saved:
    <% book.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  <% end %>
  <h2>User info</h2>
  <div class="profile-top">
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
    <div class="user-follow">
      <ul>
        <li class="followers">
          <%= link_to followers_path(user.id) do %>
            <button type="button" class="btn btn-primary">
              <strong><%= user.followers.count %></strong> followers
            </button>
          <% end %>
        </li><br>
        <li class="followings">
          <%= link_to followings_path(user.id) do %>
            <button type="button" class="btn btn-info">
              <strong><%= user.followings.count %></strong> following
            </button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <table>
    <tbody>
      <tr class="profile-table">
        <th>name</th><th><%= user.name %></th>
      </tr>
      <tr class="profile-table">
        <th>introduction</th><th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">

      <%= link_to edit_user_path(@user.id), class:"profile-edit-btn glyphicon glyphicon-wrench col-xs-12" do %><% end %>

  </div>

  <h2>New book</h2>
  <%= form_for(book) do |f| %>
    <div class="field row">
      <p class="field-title"><strong>Title</strong><p>
      <%= f.text_field :title, class: "newbook col-xs-12" %>
    </div>
    <div class="field row">
      <p class="field-body"><strong>Opinion</strong></p>
      <%= f.text_area :body, class: "newbook col-xs-12" %><br>
    </div>
    <div class="row"><%= f.submit 'Create Book', method: :post, class: "createbook col-xs-12"%></div>
  <% end %>
</div>
