<!DOCTYPE html>
<html>
  <head>
    <title>BookApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="header-title">
          <span>Bookers</span>
        </div>
        <div class="header-lists">
          <ul>
          <% if user_signed_in? %>
            <li><%= link_to  user_path(current_user.id), class:"glyphicon glyphicon-home home header-logo" do %> Home<% end %></li>
            <li><%= link_to  users_path, class:"glyphicon glyphicon-user users header-logo" do %> User<% end %></li>
            <li><%= link_to  books_path, class:"glyphicon glyphicon-book books header-logo" do %> Books<% end %></li>
            <li><%= link_to  destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout header-logo" do %> logout<% end %></li>
          <% else %>
            <li><%= link_to  root_path, class:"glyphicon glyphicon-home home header-logo" do %> Home<% end %></li>
            <li><%= link_to  about_path, class:"glyphicon glyphicon-user users header-logo" do %> About<% end %></li>
            <li><%= link_to  new_user_registration_path, class:"glyphicon glyphicon-book books header-logo" do %>SignUp<% end %></li>
            <li><%= link_to  books_path, class:"glyphicon glyphicon-log-out logout header-logo" do %> SignIn<% end %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="container">
    <%= yield %>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="col-xs-3 col-xs-offset-9"
          <p class="footer-title">CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
